@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #121212;
  color: white;
}

header form button {
  cursor: pointer;
}

input {
  outline: none;
  box-shadow: 1px 1px 1px #fff;
}

input:focus {
  outline: none;
}

header {
  background-image: url("https://k37.kn3.net/457A03737.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 25vh;
  position: relative;
}

header::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgb(255, 0, 0);
  mix-blend-mode: color-burn;
}

header * {
  z-index: 10;
}

header h1 {
  margin: 15px;
}

#form {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#form input {
  border: 0;
  width: 100%;
  background: white;
  padding: 15px;
  border-radius: 30px;
  margin-bottom: 20px;
}

.masResultados {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

button {
  width: 100px;
  border-radius: 30px;
  padding: 15px;
  border: none;
  outline: none;
  background: linear-gradient(350deg, #a8ff78 0%, #78ffd6 100%);
  color: black;
  margin: 15px;
  cursor: pointer;
}

#form button {
  width: 20%;
  border-radius: 30px;
  padding: 15px;
  border: none;
  outline: none;
  background: linear-gradient(350deg, #a8ff78 0%, #78ffd6 100%);
  color: black;
}

.resultados {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 50px;
  flex-direction: column;
}

.resultados ul {
  width: 100%;
}

.resultados ul li {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
}

.resultados ul li p {
  width: 50%;
  max-width: 50%;
}

audio {
  height: 30px;
  max-width: 50%;
}

nav {
  height: 50px;
  background: red;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 50;
  padding: 0 55px;
}

ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 30%;
}

nav p {
  display: none;
}

.hamburguesaIcon {
  cursor: pointer;
}

.menuResponsive {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background: deeppink;
  top: 0;
  left: 150vw;
  transition: left 0.3s ease-in;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menuResponsive i {
  position: absolute;
  top: 20px;
  right: 17vw;
  font-size: 50px;
  color: white;
  z-index: 100;
  cursor: pointer;
}

.whatsapp {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: violet;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  position: fixed;
  bottom: 2vh;
  right: 2vh;
}

.fa-whatsapp {
  color: white;
  font-size: 56px;
}

.show {
  left: 10vw;
}

.menuResponsive ul {
  display: flex;
  flex-direction: column;
}

.menuResponsive ul li {
  font-size: 55px;
  color: black;
  margin: 20px;
}

@media screen and (max-width: 500px) {
  .resultados ul li {
    flex-direction: column;
  }
  .resultados {
    width: 100%;
    padding: 30px;
  }
  .resultados ul li p {
    width: 100%;
    max-width: 100%;
    margin: 10px 0;
  }
  audio {
    width: 100%;
    max-width: 100%;
  }
  #form button {
    width: 60%;
  }
}

@media screen and (max-width: 728px) {
  nav > ul {
    display: none;
  }
  nav p {
    display: block;
  }
}
